// Color
@black: #000;
@white: #fff;
@pink: #D33682;
@blue: #268BD2;
@green: #2AA198;
@dark-purple: #002B36;
@danger: #C9302C;
@dark-danger: #AA2925;
@success: #449D44;
@dark-success: #398439;

// Size
@icon-size: 50px;
